# Write the code that execute the following:

### Output:  We School

In [1]:
print("We School")

We School

### Declare variable with initial value 6 and print it

In [2]:
a = 6
print(a)

6

### Declare variable with initial value your name and print it

In [3]:
b = "Mayar"
print(b)

Mayar

### Print the following output (WeSchool 2021) by using two variables

In [6]:
c = "WeSchool"
d = 2021
print(c,d)

WeSchool 2021

### Declare three variables x,y & z with initial values 1,2 & 3 in one line then print them

In [7]:
x , y , z = 1 , 2 , 3
print(x, y, z)

1 2 3

### Declare variable a with initial value 2.0 and get it's data type by using type function, repeat by another variables with another data types

In [8]:
a = 2.0
print(type(a))

<class 'float'>

In [9]:
b = "weshcool"
print(type(b))

<class 'str'>

In [10]:
c = True
print(type(c))

<class 'bool'>

### Declare string variable with value "I am in we school, grade 1"  ,then:

In [ ]:
n = "I am in we school, grade1"

#### 1) get length of it

In [2]:
n = "I am in we school, grade1"
print(len(n))

25

#### 2) check if word "WE" is in the string or not

In [2]:
n = "I am in we school, grade1"
print("we" in n)

True

#### 3)Modify string to "I am in we school,grade 2" by using replace() method

In [6]:
n = "I am in weschool, grade1"
x = n.replace("grade1" , "grade2")
print(x)

I am in weschool, grade2

#### 4)Modify string to be in uppercase (capital letters)

In [8]:
n = "I am in weschool, grade1"
print(n.upper())

I AM IN WESCHOOL, GRADE1

#### 5) Split string on every white space (  )

In [10]:
n = "I am in weschool, grade1"
print(n.split())

['I', 'am', 'in', 'weschool,', 'grade1']

#### 6) Write the sring by format method with words "I" and "we" and "school" as variables

In [25]:
a = "I" 
b = "we" 
c = "school"
print(" {} am from {} {}".format(a , b , c))

 I am from we school

### Divide 11 by 2 and get result in float form

In [19]:
11/2

5.5

### Divide 11 by 2 and get result in integer form

In [20]:
11//2

5

### Divide 11 by 2 and get result in string form by using casting

In [24]:
x = 11/2
y = str(x)
print(y)
print(type(y))

5.5
<class 'str'>

### Get the reminder when you divide 11 by 2

In [26]:
11%2

1

### Make user enter his age as input, then add 5 to his age. (make the required to prevent error ocuured)

In [33]:
age = input("Enter your age ")
age = int(age)
print(age+5)

Enter your age  17

22

### Declare variable with boolean value, then print it's type by using type function

In [1]:
a = False
print(type(a))

<class 'bool'>

### Declare this list in variable ['tennis','swimmig','pingpong','handball','volley']

In [2]:
List = ["tennis" , "swimming" , "pingpong" , "handball" , "volley"]
print(List)

['tennis', 'swimming', 'pingpong', 'handball', 'volley']

### 1) access item "pingpong" from the list

In [3]:
List = ["tennis" , "swimming" , "pingpong" , "handball" , "volley"]
print(List[2])

pingpong

### 2) access items from swimming to handball in list by using range index

In [4]:
List = ["tennis" , "swimming" , "pingpong" , "handball" , "volley"]
print(List[1:4])

['swimming', 'pingpong', 'handball']

### 3) Modify list to be ['tennis','swimming','pingpong','football','volley'] without declaring new list

In [7]:
List = ["tennis" , "swimming" , "pingpong" , "handball" , "volley"]
List[3] = "football"
print(List)

['tennis', 'swimming', 'pingpong', 'football', 'volley']

### 4) add item 'squash' at order number 3 in list

In [9]:
List = ["tennis" , "swimming" , "pingpong" , "handball" , "volley"]
List.insert(3 , "squash")
print(List)

['tennis', 'swimming', 'pingpong', 'squash', 'handball', 'volley']

### 5) add item 'karatee' at the end of the list

In [11]:
List = ["tennis" , "swimming" , "pingpong" , "handball" , "volley"]
List.append("Karatee")
print(List)

['tennis', 'swimming', 'pingpong', 'handball', 'volley', 'Karatee']

### 6) remove 'tennis' from list

In [12]:
List = ["tennis" , "swimming" , "pingpong" , "handball" , "volley"]
List.remove("tennis")
print(List)

['swimming', 'pingpong', 'handball', 'volley']

### 7) Sort this list in both ascending and descending orders

In [2]:
List = ["tennis" , "swimming" , "pingpong" , "handball" , "volley"]
List.sort()
print(List)
List.sort(reverse = True)
print(List)

['handball', 'pingpong', 'swimming', 'tennis', 'volley']
['volley', 'tennis', 'swimming', 'pingpong', 'handball']

### 8)Declare new list ['running','walking'] then merge it with the main previous list

In [3]:
List = ["tennis" , "swimming" , "pingpong" , "handball" , "volley"]
List2 = ["running" , "walking"]
List.extend(List2)
print(List)

['tennis', 'swimming', 'pingpong', 'handball', 'volley', 'running', 'walking']